<!DOCTYPE html>
<html>

<head>
<title>设置教学计划</title>
<link rel="stylesheet" href="/plugin/layui/css/layui.css" />
<script src="/plugin/jquery/jquery.js"></script>
<script src="/plugin/jquery/jquery.serializejson.js"></script>
<script src="/plugin/layui/layui.all.js"></script>
<script src="/plugin/jsrender/jsrender.js"></script>
</head>

<body>
  <div class="layui-container" style="width:100%;">
    <div class="layui-row" id="schedulePlanView"></div>
    <div class="layui-form-item">
      <div class="layui-input-inline layui-btn-group">
        <button class="layui-btn layui-btn-sm layui-bg-blue" type="button" onclick="goCopy()">复制</button>
        <button class="layui-btn layui-btn-sm" type="button" onclick="cancel()">确定</button>
      </div>
    </div>
  </div>
  <script id="tmpl-schedulePlanView" type="text/x-jsrender">
    <div class="layui-col-md12" id="schedulePlan" style="overflow-x:hidden; overflow-y:auto;">
      <table class="layui-table" lay-size="sm">      
        <thead>        
          <tr>
            <th></th>
            <th>课时数</th>
            {{for tclassList tmpl="#tmpl-tclassListView" /}}      
          </tr>
        </thead>
        <tbody>
	      {{props coursePlanViewMap tmpl="#tmpl-coursePlanView" ~tclassNum = tclassList.length/}}
        </tbody>
      </table>     
    </div>
  </script>
  <script id="tmpl-tclassListView" type="text/x-jsrender">
    <th id="{{:tclassId}}" style="cursor:pointer">{{:name}}</th>  
  </script>
  <script id="tmpl-coursePlanView" type="text/x-jsrender">   
    {{for prop}}
    <tr>    
      <td>{{:course.name}}</td> 
      <td onclick="goPeriodNum({courseId:{{:course.courseId}},periodNum:{{:periodNum}}})" style="cursor:pointer">{{:periodNum}}</td> 
      {{props paneMap tmpl="#tmpl-paneMapView" ~courseId = course.courseId ~courseType = course.type ~periodNum = periodNum/}}
    </tr>   
    {{/for }} 
  </script>
  <script id="tmpl-paneMapView" type="text/x-jsrender">
    <td onclick="goTeacher({
          courseId:{{:~courseId}},
          tclassId:{{:key}},
          periodNum:{{:~periodNum}}
        })"
        style="cursor:pointer"
        {{if ~courseType == 1}}
          colspan="{{:~tclassNum}}"
        {{/if}}>
      {{for prop}}{{if teacherId != 0}}{{:teacher.name}} {{else}}无  {{/if}}{{/for}}</td>         
  </script>

  <script>
    var layer = layui.layer;
    var laypage = layui.laypage;
    var table = layui.table;
    var upload = layui.upload;
    var form = layui.form;
    var scheduleId = sessionStorage.getItem('currentScheduleId');
  
    $(document).ready(function() {
      display();
    });
  
    function display() {
      $.ajax({
        async: false,
        url: '/plan/display/' + scheduleId,
        type: 'GET',
        success: function(schedulePlanView) {
          $('#schedulePlanView').html($.templates('#tmpl-schedulePlanView').render(schedulePlanView));
          $('th,td').css('text-align', 'center');
        }
      });
    }
  
    function goPeriodNum(plan) {
      sessionStorage.setItem('currentCourseId', plan.courseId);
      sessionStorage.setItem('currentPeriodNum', plan.periodNum);
      layer.open({
        type: 2,
        id: 'periodNum',
        title: '选择课时数',
        content: '/html/schedule/schedule/periodNum.html',
        area: [ '600px', '300px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false,
        end: function() {
          display();
        }
      });
    }
  
    function goTeacher(plan) {
      sessionStorage.setItem('currentCourseId', plan.courseId);
      sessionStorage.setItem('currentTclassId', plan.tclassId);
      sessionStorage.setItem('currentPeriodNum', plan.periodNum);
      layer.open({
        type: 2,
        id: 'teacher',
        title: '选择教师',
        content: '/html/schedule/schedule/teacher.html',
        area: [ '800px', '500px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false,
        end: function() {
          display();
        }
      });
    }
  
    function goCopy() {
      sessionStorage.setItem('copyingObject', 'plan');
      layer.open({
        type: 2,
        id: 'copy',
        title: '选择课表',
        content: '/html/schedule/schedule/copy.html',
        area: [ '800px', '400px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false
      });
    }
  
    function cancel() {
      var index = parent.layer.getFrameIndex(window.name);
      parent.layer.close(index);
    }
  </script>
</body>

</html>
