<!DOCTYPE html>
<html>

<head>
<title>年级组信息列表</title>
<link rel="stylesheet" href="/plugin/layui/css/layui.css" />
<script src="/plugin/jquery/jquery.js"></script>
<script src="/plugin/jquery/jquery.serializejson.js"></script>
<script src="/plugin/jsrender/jsrender.js"></script>
</head>

<body>
  <div class="layui-container" style="width:100%;">
    <div class="layui-btn-group">
      <button class="layui-btn layui-bg-black layui-btn-sm" onclick="goBack()">
        <i class="layui-icon">&#xe65c;</i>返回
      </button>
      <button class="layui-btn layui-bg-green layui-btn-sm" onclick="goCreate()">
        <i class="layui-icon">&#xe654;</i>新增
      </button>
    </div>
    <blockquote class="layui-elem-quote">学年学期</blockquote>
    <table class="layui-table">
      <thead>
        <tr>
          <th>编号</th>
          <th>入学年份</th>
          <th>学期</th>
          <th>初/高中</th>
          <th>起始日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="gradeList">
      </tbody>
    </table>
  </div>
  <script id="tmpl-gradeList" type="text/x-jsrender">
    <tr>
      <td>{{:#index + 1}}</td>
      <td>{{:year}}</td>
      <td>{{if semester == 0}}上学期{{else semester == 1}}下学期{{/if}}</td>
      <td>{{if level == 0}}初中{{else level == 1}}高中{{/if}}</td>
      <td>{{:startDate}}</td>
      <td>
        <div class="layui-btn-group">
          <button class="layui-btn layui-btn-sm layui-bg-orange" onclick="goModify('{{:gradeId}}')">修改</button>
          <button class="layui-btn layui-btn-sm layui-bg-red" onclick="remove('{{:gradeId}}')">删除</button>
          <button class="layui-btn layui-btn-sm layui-bg-blue" onclick="enter('{{:gradeId}}')">查看</button>
          <button class="layui-btn layui-btn-sm" id="chcourse" onclick="goCourse('{{:gradeId}}')">选择课程</button>
          <button class="layui-btn layui-btn-sm" id="chteacher" onclick="goTeacher('{{:gradeId}}')">选择教师</button>
        </div>
      </td>
    </tr>
  </script>
  <script>
    var layer = layui.layer;
    var laypage = layui.laypage;
    var table = layui.table;
    var upload = layui.upload;
    var form = layui.form;
  
    $(document).ready(function() {
      list();
    })
  
    function goCreate() {
      layui.use('layer', function() {
        var layer = layui.layer;
        layer.open({
          type: 2,
          id: 'create',
          title: '新增年级信息',
          content: '/html/schedule/grade/create.html',
          area: [ '700px', '500px' ],
          shade: 0.5,
          shadeClose: true,
          closeBtn: false
        });
      });
    }
  
    function goModify(gradeId) {
      sessionStorage.setItem('currentGradeId', gradeId);
      layer.open({
        type: 2,
        id: 'modify',
        title: '修改年级信息',
        content: '/html/schedule/grade/modify.html',
        area: [ '700px', '500px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false,
      });
    }
  
    function goCourse(gradeId) {
      sessionStorage.setItem('currentGradeId', gradeId);
      layer.open({
        type: 2,
        id: 'selectCourse',
        title: '选择课程',
        content: '/html/schedule/grade/course.html',
        area: [ '800px', '600px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false,
      });
    }
  
    function goTeacher(gradeId) {
      sessionStorage.setItem('currentGradeId', gradeId);
      layer.open({
        type: 2,
        id: 'selectTeacher',
        title: '选择教师',
        content: '/html/schedule/grade/teacher.html',
        area: [ '800px', '600px' ],
        shade: 0.5,
        shadeClose: true,
        closeBtn: false,
      });
    }
  
    function enter(gradeId) {
      sessionStorage.setItem('currentGradeId', gradeId);
      jump('html/schedule/schedule/list.html');
    }
  
    function remove(gradeId) {
      $.ajax({
        async: false,
        type: 'GET',
        url: '/schedule/list/' + gradeId,
        success: function(scheduleList) {
          if (scheduleList.length != 0) {
            layer.msg('请先删除该年级所有课表！');
            return;
          }
          layer.confirm('将删除该学期所有相关信息！',
            {
              title: '删除年级组信息'
            },
            function(index) {
              $.ajax({
                async: false,
                type: 'DELETE',
                url: '/grade/delete/' + gradeId,
                success: function() {
                  layer.close(index);
                  list();
                }
              });
            });
        }
      })
  
    }
  
    function list() {
      $.ajax({
        async: false,
        type: 'GET',
        url: '/grade/list',
        success: function(gradeList) {
          $('#gradeList').html($.templates('#tmpl-gradeList').render(gradeList));
        }
      });
    }
  
    function goBack() {
      jump('html/common/home.html');
    }
  </script>
</body>

</html>
